<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.qc.seclass.glm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GLM">
        <activity android:name=".searchCategoryOthersResults"
            android:label="Results For Others">
        </activity>
        <activity
            android:name=".UpdateQuantity"
            android:label="Update Quantity" />
        <activity
            android:name=".searchCategoryHygieneResults"
            android:label="Results For Hygiene" />
        <activity
            android:name=".searchCategoryCleaningResults"
            android:label="Results For Cleaning" />
        <activity
            android:name=".searchCategorySnackResults"
            android:label="Results For Snack" />
        <activity
            android:name=".searchCategoryBakeryResults"
            android:label="Results For Bakery" />
        <activity
            android:name=".searchCategoryVegetableResults"
            android:label="Results For Vegetables" />
        <activity
            android:name=".searchCategoryDairyResults"
            android:label="Results For Dairy" />
        <activity
            android:name=".searchCategoryMeatResults"
            android:label="Results For Meat" />
        <activity
            android:name=".searchCategoryBeverageResults"
            android:label="Results For Beverages" />
        <activity
            android:name=".searchCategoryFruitsResults"
            android:label="Results For Fruits" />
        <activity
            android:name=".AddItemWithQuantity"
            android:label="Add Item With Quantity" />
        <activity
            android:name=".searchItemName"
            android:label="Search here..." />
        <activity
            android:name=".searchCategory"
            android:label="Search By Category" />
        <activity
            android:name=".MyItems"
            android:label="Search Options"/>
        <activity
            android:name=".createLists"
            android:label="Create New Lists"
            android:parentActivityName=".UserLists" />
        <activity
            android:name=".UserLists"
            android:label="Grocery List" />
        <activity
            android:name=".renamelist"
            android:label="Rename List" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>