<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.qc.seclass.glm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GLM">
        <activity android:name=".itemDetails"></activity>
        <activity
            android:name=".categoryHygiene"
            android:label="Hygiene Category" />
        <activity
            android:name=".categoryLiquor"
            android:label="Liquor Category" />
        <activity
            android:name=".categoryCleaning"
            android:label="Cleaning Category" />
        <activity
            android:name=".categoryBeverages"
            android:label="Beverages Category" />
        <activity
            android:name=".categorySnack"
            android:label="Snack Category" />
        <activity
            android:name=".categoryBakery"
            android:label="Bakery Category" />
        <activity
            android:name=".categoryVegetables"
            android:label="Vagetables Category" />
        <activity
            android:name=".categoryDairy"
            android:label="Dairy Category" />
        <activity
            android:name=".categoryMeat"
            android:label="Meat Category" />
        <activity
            android:name=".categoryFruit"
            android:label="Fruit Category" />
        <activity
            android:name=".MyItems"
            android:label="Grocery List" />
        <activity
            android:name=".createLists"
            android:label="Create New Lists"
            android:parentActivityName=".UserLists" />
        <activity
            android:name=".UserLists"
            android:label="Grocery List" />
        <activity android:name=".renamelist" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>